rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Function to check if the user is the admin
    function isAdmin() {
      return request.auth != null && request.auth.token.email == 'daniel.ibarra.dev@gmail.com';
    }

    match /projects/{projectId} {
      allow read: if true;
      allow write: if isAdmin();
    }
    
    match /settings/{settingId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /leads/{leadId} {
      allow create: if true; // Anyone can submit a lead
      allow read, update, delete: if isAdmin(); // Only admin can view/manage leads
    }
  }
}
